<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        
        <h1 style="width: 100px; margin: auto; color: red;">LOGIN</h1>
        
        <form action="/login" method="post">
            name:<input type="text" name="name"/><br>
            email:<input type="email" name="email" value="<%=locals.email%>" /><br>
            password:<input type="password" name="password"/>
            <button>Login</button>
        </form>
    </div>
    <p><%= locals.message %></p>
</body>
</html>